<<<<<<< HEAD
main{
    width: 100%;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    
}
.templates{
    width: 100%;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
=======
.homepage{
    flex-direction: column;
}

.templates-container{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: calc(var(--spacer) * 2) ;
>>>>>>> b6133d22b37dc85d5449b885ca6c3741a33c1936
}