.auth form .inputbx .username,
.auth form .inputbx .email,
.auth form .inputbx .password {
    /***This is input container***/
    position: relative;
    width: 100%;
}

.auth form .inputbx .username label,
.auth form .inputbx .email label,
.auth form .inputbx .password label {
    width: fit-content;
}
