.client-body main{
    min-height: calc(100vh - 69px);
    display: flex;
    gap: var(--spacer);
    background-color: var(--bg-primary);
    padding-inline: var(--spacer-2);
}

.client-body section{
    padding-block: var(--spacer-2);
}