

.template-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.template-details {
    display: flex;
    gap: var(--spacer-2);
}


.template-image-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
}

.template-image {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.template-gallery{
    display: flex;
    gap: var(--spacer-2);
}

.template-image img{
    width: 100%;
}

.template-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}

.template-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.template-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.template-about{
    text-align: justify;
}

.template-source{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: var(--spacer);
}

.template-buttons{
    display: flex;
    gap: var(--spacer);
}

