header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-secondary);
    z-index: 100;
    padding-inline: var(--spacer-2);
    box-shadow: var(--box-shadow);
}

.header-container{
    display: flex;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container a{
    color: var(--clr-primary);
}

.navigation{
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation .links{
    display: flex;
    gap: var(--spacer-2);
}

.navigation .links li{
    display: flex;
    align-items: center;
    padding-block: var(--size-m);
}

.navigation .links a{
    text-transform: uppercase;
    font-weight: var(--fw-normal);
}