@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* === css reset === */
* ,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --bg-primary: #F4E7E7; /* Light mode background color */
    --clr-primary: #2B2B2B; /* Light mode text color */
    --bg-secondary: #D5ECC2 ; /* Light mode secondary background color */
    --clr-secondary: #ffffff; /* Light mode secondary text color */
    --clr-rgba: rgba(0, 0, 0, 0.1)
    --box-shadow: 0 2px 4px var(--clr-rgba); /* Box shadow for cards */
    
    --f-heading: 2rem; /* Custom variable for heading font size */
    --f-sub-heading: 1.5rem; /* Custom variable for sub-heading font size */
    
    --spacer: 1rem; /* Custom variable for consistent spacing */
    --spacer-2: 2rem; 
    --spacer-em: 1em; 
  
    --fw-light: 300; /* Font weight for light text */
    --fw-normal: 400; /* Font weight for normal text */
    --fw-bold: 700; /* Font weight for bold text */
    
    --clr-imp: #FF3E4E; /* Color for important text */
    --clr-active: #487BFF; /* Color for active links */
    --clr-accent: #FFBF00; /* Color for call-to-action elements */
    --clr-accent-hover:#FFD700;
    --clr-tag: #99a3a4;

    --size-s: .5rem; /* === 10px in rem === */
    --size-m: 1rem; /* === 15px in rem === */
    --size-l: 2rem; /* === 20px in rem === */
  
    /* ... other variables ... */
  }
  
  /* Media query for dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #1f1f1f; /* Dark mode background color */
        --clr-primary: #ffffff; /* Dark mode text color */
        --bg-secondary: #4a4a4a;; /* Dark mode secondary background color */
        --clr-secondary: #b3b3b3; /* Dark mode secondary text color */
        --clr-rgba: rgba(255, 255, 255, 0.1);
        --box-shadow: 0 2px 4px var(--clr-rgba); /* Adjust shadow color for dark mode */
        
        --clr-imp: #ff6666; /* Color for important text in dark mode */
        --clr-active: #ff9900; /* Color for active links in dark mode */
        --clr-accent: #008080; /* Color for call-to-action elements in dark mode */
        --clr-accent-hover:#008080a8;
        --clr-tag: #bdc3c7;
        
    }
}

/* === for smooth scrolling for entire scrollable element === */
html{
    scroll-behavior: smooth;
}

/* Example usage */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg);
    color: var(--clr-primary);
}

h1 {
    font-size: var(--f-heading);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--f-sub-heading);
    font-weight: var(--fw-bold);
}

p {
    font-size: 1rem; /* Default font size */
    font-weight: var(--fw-normal);
}


button,
.btn {
    background-color: var(--clr-accent);
    color: var(--clr-secondary); /* White text on cta button */
    padding-block: var(--size-s);
    padding-inline: var(--size-l);
    border: 1px solid;
    border-color: var(--clr-accent);
    font-size: 1em;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 8px;
}

button:hover,
.btn:hover{
    background-color: var(--clr-accent-hover);
}

button:disabled {
    background-color: gray;
    cursor: no-drop;
}

button:disabled:hover {
    background-color: gray;
    cursor: no-drop;
    border-color: inherit;
}

/* === reset for link default style === */
a{
    text-decoration: none;
    color: var(--clr-tag);
}

a.active{
    color: var(--clr-active);
} 

ul{
    list-style: none;
}

/* =================================
    setting custom default style
================================= */


.auth{
    min-height: 100vh;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ====================
    utilities class
======================= */

.container{
    width: 80%;
    margin-inline: auto;
}

.important-text {
    color: var(--clr-imp);
}

.active-link {
    color: var(--clr-active);
}