.toast {
    width: fit-content;
    padding: 20px 40px;
    background-color: var(--clr-secondary);
    position: fixed;
    bottom: 10px;
    right: -100%;
    transition: 0.5s ease-in;
    text-transform: capitalize;
    color: var(--clr-primary);
}

.toast::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--clr-imp);
}

.active {
    right: 20px;
}
