.product-card {
    width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: var(--size-s);
    overflow: hidden;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;

}

.product-card-container{
    display: flex;
    flex-direction: column;
    position: relative;
}


.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: var(--fw-bold);
    background: var(--clr-imp);
    color: var(--clr-secondary);
    padding-block: calc(var(--size-s)/2) ;
    padding-inline: var(--size-m);
}

.product-thumb {
    display: flex;
    height: 150px;
    overflow: hidden;
}

.product-thumb img {
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.product-details {
    padding-block: var(--spacer-2);
    padding-inline: var(--spacer);
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
}


.product-details h4{
    color: var(--clr-primary);
}


.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid var(--clr-secondary);
    padding-block-start:var(--spacer);
    display: flex;
    justify-content: space-between;
}


.product-price {
    font-size: 18px;
    font-weight: var(--fw-normal);
}

.product-price del {
    font-size: small;
}

.product-wishlist{
    display: flex;
    justify-content: flex-end;
}

.product-wishlist span{
    cursor: pointer;
}

.product-wishlist span:hover{
    color: var(--clr-active)
}

.live-url{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block-end: var(--spacer);
}

.live-url .preview-btn{
    display: flex;
    align-items: center;
    gap: var(--size-s);
    padding-block: var(--size-s);
    padding-inline: var(--size-m);
    border:  2px solid var(--clr-secondary);
    border-radius: var(--size-s);
    transition: .2s ease-in-out;
}

.live-url .preview-btn:hover{
    background-color: var(--bg-primary);
}